* {
	font-family: 'Sigmar One', cursive;
}

html {
	scroll-behavior: smooth;
}

.gh {
	opacity: 0.4;
}

.gh:hover {
	opacity: 0.8;
	transition: ease-in 1s;
}

.navigation a {
	text-decoration: none;
}

.navigation {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.navigation li {
	padding: 10px;
	list-style-type: none;
	color: rgb(228, 125, 137);
	text-decoration: none;
}

.navigation li:first-child {
	color: rgb(134, 62, 70);
}

.logo {
	position: absolute;
	left: 5px;
	top: 2px;
	width: 100px;
}

.container-top {
	display: flex;
	justify-content: space-around;
	margin-top: 20vh;
	flex-wrap: wrap-reverse;
}

.parent {
	display: flex;
	justify-content: space-around;
}

.text {
	margin-left: 10px;
	text-align: center;
	margin-top: 20px;
}

.text h1 {
	font-size: 50px;
	color: rgb(228, 125, 137);
	font-family: 'Sigmar One', cursive;
}

.happy-cat {
	filter: drop-shadow(30px 10px 30px #eee8e8);
}

.happy-cat:hover {
	transform: scale(1.1);
	transition: ease 1s;
}

.flex-image {
	width: 350px;
}

/* Button Style */
button {
	padding: 20px;
	word-wrap: break-word;
	background-color: salmon;
	color: whitesmoke;
	border-radius: 20px;
	border: none;
	filter: drop-shadow(30px 10px 30px #c9c9c9);
}

button:hover {
	transform: scale(1.05);
	transition: ease-out 1s;
	cursor: pointer;
}

/* button ends */
.ellipses {
	font-size: 60px;
	text-align: center;
	opacity: 0.6;
	margin-bottom: 0;
	margin-top: 10px;
}

button a {
	text-decoration: none;
	color: whitesmoke;
}

/* demo */
.demo {
	height: 100vh;

}

iframe {
	display: block;
	margin-bottom: 5vh;
	align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	width: 80vw;
	height: 50vh;
}

.demo h1 {
	font-family: 'Sigmar One', cursive;
	font-size: 48px;
	color: rgb(228, 125, 137);
	text-align: center;
}

/* About */
.flex-contain {
	flex-wrap: wrap;
}

.about-us {
	text-align: center;
	font-size: 32px;
	margin-top: 0;
	color: rgb(41, 41, 41);
}


* {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(58, 57, 57);
}

.aboutt {
	color: rgb(228, 125, 137);
	font-family: 'Sigmar One', cursive;
	margin-bottom: 5vh;
	text-align: center;
}

.icon {
	margin-bottom: 10px;
}

.icon>h5 {
	margin-bottom: 3px;
	font-size: 18px;
}

.icon>p {
	max-width: 350px;
	font-size: 15px;
	text-align: justify;
	margin-top: 0;
	word-wrap: break-word;
}



/* image-slider */
.curriculum {
	height: 100vh;
}

.image-ss {
	display: flex;
}

#ss-image {
	max-width: 70%;
	align-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	flex-basis: 98%;
}

.slider {
	flex-basis: 02%;
	text-align: right;
	font-size: 6rem;
	margin-right: 20px;
	margin-top: 10%;
	opacity: 0.4;
}

.slider:hover {
	opacity: 0.9;
	transition: ease-in 1s;
	cursor: pointer;
}

.text-content {
	text-align: center;
}

.title {
	font-size: 32px;
}

.desc {
	word-wrap: break-word;
	margin-left: 15%;
	margin-right: 15%;
}

.courses {
	text-align: center;
	font-size: 40px;
	margin-top: 0;
	font-family: 'Sigmar One', cursive;
	color: rgb(228, 125, 137);
}


/* cat family*/
.cat-fam {
	height: 100vh;
	align-content: center;
	text-align: center;
}

.cat-head {
	color: rgb(228, 125, 137);
	font-family: 'Sigmar One', cursive;
	font-size: 48px;
}

.cats {
	margin-top: 10vh;
	width: 400px;
	align-content: center;
}

.cat-flex {
	display: flex;
	justify-content: space-evenly;
}

.cat-flex span {
	font-size: 6rem;
	margin-top: 25vh;
	opacity: 0.7;
}

.cat-flex span:hover {
	cursor: pointer;
}